#今の所永橋先輩のやつ真似してテストしようとしてるだけ
version: '3'
services: #動作させるアプリケーション単位
  ###-----テスト用のcompose記述-----###
  #client-test: #ノードの名前。このコンテナに入りますよ。
  #  build: 
  #    #この中にあるdockerfileを使って作りますよ。
  #    context: .
  #    dockerfile: ./2nodetest/client-testnode/Dockerfile
  #  image: client-testimage
  #  # 以下はコンテナ起動後にpythonを実行するコマンド。
  #  # command: python edgenode.py
  #  # コンテナの名前を指定
  #  container_name:  client-testnode
  #  #コンソールで入れるようにする
  #  stdin_open: true
  #  tty: true
  #  #ホストの中でのファイルが、docker内のここに反映される。
  #  volumes:
  #    - ./2nodetest/client-testnode:/root/opt/home/sekigawa/client-testnode
  #  networks:
  #    defaultnetwork:
  #      ipv4_address: 10.0.0.2
#
  #producer-test: #ノードの名前。このコンテナに入りますよ。
  #  build: 
  #    #この中にあるdockerfileを使って作りますよ。
  #    context: .
  #    dockerfile: ./2nodetest/producer-testnode/Dockerfile
  #  image: producer-testimage
  #  # 以下はコンテナ起動後にpythonを実行するコマンド。
  #  # command: python edgenode.py
  #  # コンテナの名前を指定
  #  container_name:  producer-testnode
  #  #コンソールで入れるようにする
  #  stdin_open: true
  #  tty: true
  #  #ホストの中でのファイルが、docker内のここに反映される。
  #  volumes:
  #    - ./2nodetest/producer-testnode:/root/opt/home/sekigawa/producer-testnode
  #  #FIBの設定時IPアドレスを指定する必要があるため、固定IPを割り振る
  #  networks:
  #    defaultnetwork:
  #      ipv4_address: 10.0.0.3
  ###-----------------------------------###

  ProducerNode: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./ProducerNode/Dockerfile
    image: producer-image
    # コンテナの名前を指定
    container_name:  producer
    hostname: producer
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./ProducerNode:/root/opt/home/sekigawa/ProducerNode
      
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.2

  ClientNode: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./ClientNode/Dockerfile
    image: client-image
    # コンテナの名前を指定
    container_name:  client
    hostname: client
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./ClientNode:/root/opt/home/sekigawa/ClientNode
      
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.3
  
  CR1: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./CR/CR1/Dockerfile
    image: cr1-image
    # コンテナの名前を指定
    container_name:  cr1
    hostname: cr1
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./CR/CR1:/root/opt/home/sekigawa/CR/CR1
      
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.4

  GatewayNode: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./GatewayNode/Dockerfile
    image: gateway-image
    # コンテナの名前を指定
    container_name:  gateway
    hostname: gateway
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./GatewayNode:/root/opt/home/sekigawa/GatewayNode
      
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.5

  CR2: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./CR/CR2/Dockerfile
    image: cr2-image
    # コンテナの名前を指定
    container_name:  cr2
    hostname: cr2
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./CR/CR2:/root/opt/home/sekigawa/CR/CR2
      
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.6

  BCNode1: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./BCNode/BCNode1/Dockerfile
    image: bcnode1-image

    # コンテナの名前を指定
    container_name:  bcnode1
    hostname: bcnode1
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./BCNode/BCNode1:/root/opt/home/sekigawa/BCNode/BCNode1
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.7

  BCNode2: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./BCNode/BCNode2/Dockerfile
    image: bcnode2-image
    # コンテナの名前を指定
    container_name:  bcnode2
    hostname: bcnode2
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./BCNode/BCNode2:/root/opt/home/sekigawa/BCNode/BCNode2
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.8
  
  BCNode3: #ノードの名前。このコンテナに入りますよ。
    build: 
      #この中にあるdockerfileを使って作りますよ。
      context: .
      dockerfile: ./BCNode/BCNode3/Dockerfile
    image: bcnode3-image
    # コンテナの名前を指定
    container_name:  bcnode3
    hostname: bcnode3
    #コンソールで入れるようにする
    stdin_open: true
    tty: true
    #ホストの中でのファイルが、docker内のここに反映される。
    volumes:
      - ./BCNode/BCNode3:/root/opt/home/sekigawa/BCNode/BCNode3
      
    networks:
      defaultnetwork:
        ipv4_address: 10.200.0.9
  
  

#ハード側のネットワーク
networks:
  defaultnetwork:
    #同一ホスト内でのコンテナ通信。
    #ハード的には同一ネットワーク(ICN上はFIBで制御)
    driver: bridge
    ipam:
      config:
        - subnet: 10.200.0.0/24